.card-center {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}

.card-center--centered {
    justify-content: center !important;
}

.card-center>span {
    text-align: center;
    height: 100%;
    width: 100%;
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
}

.card-column {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: space-between;
}

.card-column--centered {
    justify-content: center !important;
}

.card-symbol-big {
    flex-grow: 0.2;
}

.card-column span:last-of-type {
    transform: rotate(180deg);
}

.card-column span:first-of-type {
    transform: rotate(0deg);
}

.card-symbol-rotated {
    transform: rotate(180deg);
}