.card {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.suit-red {
    color: red;
}

.suit-black {
    color: black;
}

.card-header {
    text-align: left;
    display: grid;
    line-height: 0.9;
}

.card-footer {
    text-align: left;
    display: grid;
    line-height: 0.9;
}

.card-footer > span {
    transform: rotate(180deg);
}

.value-parent {
    display: table;
}

.card-value {
    display: table-cell;
    font-size: 2em;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}