.card {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    cursor: grab;
    width: 6.1rem;
    height: 8rem;
}

.card-back {
    background-color: rgb(29, 78, 216);
    cursor: pointer !important;

}

.card-back-border {
    border: solid white 1px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-back-border-2 {
    border: solid white 1px;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    margin: 2%;
}

.card-back-pattern-container {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back-circle-outer {
    width: 50%;
    height: 39%;
    border: solid white 2px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back-circle-inner-ring {
    width: 80%;
    height: 80%;
    border: solid white 1px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back-circle-inner-solid {
    width: 50%;
    height: 50%;
    border: solid white 1px;
    border-radius: 50px;
    background-color: white;
}

.suit-red {
    color: red;
}

.suit-black {
    color: black;
}

.card-header {
    text-align: left;
    display: grid;
    line-height: 0.9;
}

.card-footer {
    text-align: left;
    display: grid;
    line-height: 0.9;
}

.card-footer>span {
    transform: rotate(180deg);
}

.value-parent {
    display: table;
}

.card-value {
    display: table-cell;
    font-size: 2em;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}