.card-center-small {
    width: 60px;
    min-height: 60%;
    margin-top: -19px;
    display: flex;
}

.card-header-small {
    line-height: 0.75;
    font-size: 0.8em;
    text-align: left;
    display: grid;
}

.card-footer-small {
    line-height: 0.75;
    font-size: 0.8em;
    text-align: left;
    display: grid;
    transform: rotate(180deg);
    margin-top: -11px;
}

.card-value-small {
    font-size: 0.75em;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.card-face-small {
    font-size: 3em;
}