.crossword-parent {
    justify-content: center;
    gap: 10px;
}

.crossword-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.crossword-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.crossword-spacer {
    width: 5em;
}