#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.top-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 1%;
    gap: 2vw;
}

.row {
    display: flex;
    flex-direction: row;
}

.card-stacks {
    justify-content: space-between;
    gap: 2vw;
}

.deck-spacer {
    width: 2.9rem;
}

.card-columns {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}